* {
    box-sizing: border-box;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
}

.container {
    border: solid black 5px;
    display: flex;
    flex-direction: column;
}

.display {
    text-align: end;
    font-size: xx-large;
}

.buttons {
    display: flex;
}


.miscnum {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.misc {
    display: flex;
}

.misc button {
    flex: auto;
    flex-basis: 33%;
    background-color: rgb(16, 240, 240);
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.numbers button {
    flex: auto;
    flex-basis: 33%;
}

.numbers button[value="0"] {
    flex-basis: 66%;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 25%;
}

.operations button {
    background-color: orange;
}

button {
    min-height: 40px;
    min-width: 45px;
}